@charset "utf-8";
/*--------------------------------------------------------------------
version:	1.0
author:	33
email:	luopeishan@kankan.com
last update:	2015-08-24
---------------------------------------------------------------------*/
/*reset*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { margin:0;padding:0;}
table {border-collapse:collapse;border-spacing:0;}
fieldset,img { border:0;}
address,caption,cite,code,dfn,em,strong,th,var {font-style:normal;font-weight:normal;}
ul,ol {list-style:none;}
caption,th {text-align:left;}
h1,h2,h3,h4,h5,h6 {font-size:100%;font-weight:normal;}
q:before,q:after {content:'';}
abbr,acronym { border:0;}
button {cursor:pointer;}
/*global*/
body { font:normal 14px/20px 'Microsoft yahei';background-color:#FFE15B;min-width:1000px;}
a { text-decoration:none;color:#282828; cursor:pointer;}
a:active{outline:none;}
input, select, form img, button,label,textarea{ font-size:12px; vertical-align:middle; font-family:Microsoft yahei; color:#000000;}
.clearfix{ zoom:1; }
.clearfix:after {content:".";display:block;height:0;clear:both;visibility:hidden;}
.u_log a:hover{text-decoration:underline;}
a{-webkit-transition:all linear .2s;
	-moz-transition:all linear .2s;
	-o-transition:all linear .2s;
	transition:all linear .2s;}
.nav li a,.pre,.next,.section1 .icon-fire,.section1 .icon-money,.section2 .icon-fire,.mod2 .show-box .icon-people,.mod2 .show-box .icon-play,.container .icon-fire,.container .icon-money,.container .show-box1 .icon-people,.container .show-box1 .icon-play,.star,.skill-show .icon-people,.skill-show .icon-play,.section2 .show-list .icon-money,.xzw_starBox .star li a{-webkit-transition:none;-moz-transition:none;-o-transition:none;transition:none;}
.wp{width: 1000px;margin: 0 auto;position: relative;}
.logo a{text-indent:-9999px;}
.logo a,.top_head h2 span,.pre,.next,.btn_search,.i_user,.section1 .icon-fire,.section1 .icon-money,.section2 .icon-fire,.mod2 .show-box .icon-people,.mod2 .show-box .icon-play,.mod2 .show-box .icon-play,.mod2 .show-box .playico,.container .icon-fire,.container .icon-money,.container .show-box1 .icon-people,.container .show-box1 .icon-play,.container .show-box1 .playico,.skill-show li .playico,.skill-show .icon-people,.skill-show .icon-play,.section2 .show-list .icon-money,.section2 .aside .offer-f,.registration ul li .arrow{background:url(../img_bg/sprite.png) center top no-repeat;}

/*top_head*/
.top_head{height:45px;background-color:#FFD102;}
.logo{height:35px;width:118px;line-height:45px;float:left;padding-top:5px;_padding:0;_background:url(../img_bg/logo-ie6.png) no-repeat;}
.logo a{display:block;height:35px;width:118px;background-position:0 0;}
.top_head h2{float:left;padding:7px 20px 0 13px;width:110px;}
.top_head h2 span{background-position:0 -38px;width:99px;height:28px;display:block;}
.nav{float:left;}
.nav li{float:left;height:45px;padding:0 10px;}
.nav li.cur,.nav li:hover{background-color:#0F76CE;}
.nav li.cur a,.nav li:hover a{color:#fff;}
.nav li a{font:16px/45px 'microsoft yahei';display:block;}
.h_search{float:left;margin:5px 0 0 30px;}
.h_searchlink{height:30px;overflow:hidden;width:200px;border-radius:5px;}
.h_searchlink input{border:none;float:left;height:16px;line-height:16px;width:130px;padding: 7px 12px;}
.btn_search{border:none;float:left;height:30px;width:35px;background-position:-204px -68px;text-indent:-9999em;}
.user{float:right;}
.u_log,.dropbox_tigger{float:left;color:#282828;font:14px 'microsoft yahei';margin:15px 5px 0 0;}
.u_log a{display:inline-block;}
.i_user{display:block;height:16px;width:16px;overflow:hidden;float:left;background-position:-144px -68px;margin-top:3px;}
.btn_link{float:left;width:120px;height:45px;background-color:#0F76CE;text-align:center;font:bold 24px/45px 'microsoft yahei';display:inline-block;color:#fff;}
.dropbox_tigger{position:relative;}
.dropbox_tigger span{width:80px;display:inline-block;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;text-align: right;}
.dropbox_tigger .i_arw{height:4px;width:8px;position:absolute;top:10px;right:0;overflow:hidden;text-indent:-9999px;}
.numbox {background-position: -249px -97px;color: #fff;font-family: "microsoft yahei";font-size: 11px;height: 12px;line-height: 12px;overflow: hidden;padding: 0 2px; position: absolute;right: 0;top: -6px;}
.numbox_co { background-position: -284px -97px; display: block;height: 12px;overflow: hidden;position: absolute;right: 0;top: 0; width: 2px;}
.sign-out{display:inline-block;vertical-align: top;}
.dropbox_tigger .diving-line{width:5px;display:inline-block;}


/*header*/
.header{height:500px;overflow:hidden;position:relative;}
.banner{height:500px;position:absolute;left:0;top:0;width:100%;}
.b-pic li{height:500px;min-width:1000px;position:absolute;top:0;left:0;width:100%;text-align:center;}
.b-pic a{display:block;width:100%;height:500px;}
.ban-tit li{width:1000px;height:342px;margin-left:-500px;position:absolute;left:50%;top:0;z-index:20;}
.ban-tit a{color:#fff;display:block;font:18px/44px 'microsoft yahei';height:36px;padding:380px 65px 0 65px;width:870px;}
.ban_nav{min-width:1000px;text-align:center;}
.button{position:relative;margin:0 auto;width:1000px;}
.s-pic{padding:0 65px;overflow:hidden;display:inline-block;position:relative;margin:450px 0 0 0;*display:inline;*zoom:1;}
.s-pic li{margin:0 20px 0 0;position:relative;float:left;height:20px;width:80px;}
.s-pic li.on a{background-color:#FFE05B;}
.s-pic a{display:block;height:20px;width:80px;background-color:#0E76CD;}
.s-pic img{width:80px;height:20px;display:block;}
.pre,.next{position:absolute;top:-80px;display:block;width:30px;height:50px;}
.pre{left:28px;background-position:0 -101px;}
.next{left:928px;background-position:-31px -153px;}
.pre:hover{background-position:-31px -101px;}
.next:hover{background-position:0 -153px;}
/*main*/
.mod{padding-top:25px;}
.head{height:40px;background-color:#0F76CE;}
.head h2{font:20px/40px 'microsoft yahei';color:#fff;float:left;padding:0 20px;}
.head-tit{float:left;height:40px;}
.head-tit a{display:inline-block;font:16px/40px 'microsoft yahei';margin-right:10px;color:#fff;}
.head-tit a:hover,.head-tit a.on{color:#F5DB64;}
.show-box{padding:15px 10px;background-color:#EEEEEE;}
.show-box li{float:left;}
.section1 .icon-fire,.section1 .icon-money,.section2 .show-list .icon-fire,.mod2 .show-box li .icon-people,.mod2 .show-box li .icon-play,.container .icon-fire,.container .icon-money,.container .show-box1 .icon-people,.container .show-box1 .icon-play,.skill-show .icon-people,.skill-show .icon-play,.section2 .show-list .icon-money{width:23px;height:23px;display:inline-block;border:none;}
/*mod1*/
.mod1{height:750px;}
/*section1*/
.section1{width:720px;height:748px;float:left;}
.section1 .show-box li,.container .show-box li{width:220;height:340px;margin-left:10px;}
.section1 li a,.container li a{width:218px;height:248px;border:1px solid #eeeeee;display:block;}
.section1 li a:hover,.container .show-box li a:hover{border:1px solid #FFD102;}
.section1 li a img,.container li a img{width:218px;height:248px;display:block;}
.section1 p,.container p{color:#9F9F9F;margin-top:5px;font:14px 'microsoft yahei';}
.section1 p span,.container p span{color:#666666;}
.section1 .icon-fire,.section1 .icon-money,.container .show-box .icon-fire,.container .show-box .icon-money{vertical-align:top;margin-left:5px;border:none;}
.section1 .icon-fire,.section2 .icon-fire,.container .icon-fire{width:16px;background-position:-135px -24px;}
.section1 .icon-money,.container .icon-money,.section2 .show-list .icon-money{background-position:-157px -24px;}
.section1 .icon-fire:hover,.section2 .show-list li:hover .icon-fire,.container .show-box .icon-fire:hover,.container .icon-fire:hover{background-position:-135px 0;border:none;}
.section1 .icon-money:hover,.container .show-box .icon-money:hover,.container .icon-money:hover,.section2 .show-list li:hover .icon-money{background-position:-157px 0;border:none;}
/*section2*/
.section2{float:right;width:270px;height:742px;}
.section2 .show-list li{height:74px;background-color:#E5E5E5;padding:13px;}
.show-list li:hover{background:#0F76CE;}
.section2 .show-list li a{display:inline-block;width:74px;height:74px;float:left;}
.section2 .show-list li a img{width:74px;height:74px;display:block;border-radius:50px;border:2px solid #E5E5E5;}
.section2 .show-list li.on img{border:2px solid #F2DB73;}
.aside{float:left;margin-left:18px;}
.aside dl dt{font:16px 'microsoft yahei';color:#333333;}
.aside dl dd,.aside p{font:14px/25px 'microsoft yahei';color:#666666;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;height:25px;width:150px;}
.section2 .show-list li:hover p,.section2 .show-list li:hover dd,.section2 .show-list li:hover dt{color:#fff;}
.section2 .aside .icon-fire{width:16px;margin-left:0;margin-right:5px;vertical-align:top;}
.section2 .aside .offer-f{width:50px;height:20px;display:inline-block;background-position:-62px -101px;float:none;vertical-align:middle;margin-left:10px;}
/*mod2*/
.mod2{height:515px;}
.mod2 .show-box li,.container .show-box1 li,.skill-show li{width:220px;height:223px;margin-right:33px;float:left;}
.mod2 .show-box .last,.skill-show .last{margin-right:0;}
.mod2 .show-box li a,.mod2 .show-box li a img,.container .show-box1 li a,.container .show-box1 li a img,.skill-show li a,.skill-show li a img{width:220px;height:155px;display:block;position:relative;}
.mod2 .show-box li a img,.container .show-box1 li a img,.skill-show li a img{opacity:0.7;}
.mod2 .show-box li a:hover img,.container .show-box1 li a:hover img,.skill-show li a:hover img{opacity:1;}
.mod2 .show-box li a:hover .playico,.container .show-box1 li a:hover .playico,.skill-show li a:hover .playico{display:block;}
.mod2 .show-box .playico,.container .show-box1 .playico,.skill-show li .playico{background-position:-240px -68px;width:40px;height:40px;display:block;position:absolute;top:60px;left:85px;display:none;_display:block;}
.mod2 .show-box p,.container .show-box1 p,.skill-show p{margin-top:5px;font:14px/25px 'microsoft yahei';color:#333333;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;width:220px;height:25px;}
.mod2 .show-box p span,.container .show-box1 p span,.skill-show p span{float:left;color:#666666;margin-right:20px;}
.mod2 .show-box .icon-people,.mod2 .show-box .icon-play,.container .show-box1 .icon-people,.container .show-box1 .icon-play,.skill-show .icon-people,.skill-show .icon-play{vertical-align:top;}
.mod2 .show-box .icon-people,.container .show-box1 .icon-people,.skill-show .icon-people{background-position:-180px -24px;}
.mod2 .show-box .icon-people:hover,.container .show-box1 .icon-people:hover,.skill-show .icon-people:hover{background-position:-180px 0;}
.mod2 .show-box .icon-play,.container .show-box1 .icon-play,.skill-show .icon-play{background-position:-204px -24px;}
.container .show-box1 .icon-play:hover,.skill-show .icon-play:hover{background-position:-204px 0px;}
.mod2 .show-box .icon-play{pointer-events: none;}
/*mod3*/
.mod3{height:590px;}
.mod3 .weibo{height:460px;width:930px;background-color:#EEEEEE;padding:25px 35px;overflow:scroll;}

/*container*/
.container,.registration{padding:30px 0;background:#F9F9F9;}
.container .head{padding:0 20px;}
.container .head-tit a{padding:0 5px;margin:0;}
.container .head-tit a:hover,.container .head-tit .on{background-color:#FFD101;color:#282828;}
.container .show-box{background-color:#F9F9F9;padding:0;margin-top:20px;}
.container .show-box li{margin:0 40px 0 0;}
.container .show-box .last{margin:0;}
.name2{display:inline-block;width:45px;font-style:normal;overflow:hidden;white-space: nowrap;text-overflow: ellipsis;vertical-align: top;}
.frame{padding-bottom:30px;}
.frame h2{border-bottom:1px solid #E5E5E5;height:34px;font:bold 24px 'microsoft yahei';}
.frame .btn-edit{float:right;padding:0 5px;background:#0F76CE;height:23px;display:block;border-radius:5px;font:14px/23px 'microsoft yahei';color:#fff;text-align:center;border:none;padding:0 10px;}
.container .result{color:#7D7D7D;margin-bottom:5px;}
/*intro*/
.intro{padding:20px 20px 0 20px;font:16px 'microsoft yahei';}
.intro dt{float:left;color:#333333;margin:5px 0;}
.intro dd a{color:#666666;padding:0 5px;display:inline-block;margin:5px 0;}
.intro dd a:hover,.intro dd .on{background:#0F76CE;border-radius:5px;color:#fff;}
/*page*/
.page{position:relative;padding:20px 0;height:20px;height:20px;text-align:center;margin:0 auto;}
.page ul{display:inline-block;*display:inline;*zoom:1;}
.page li{float:left;width:20px;height:20px;text-align:center;margin-right:18px;font:14px/20px 'microsoft yahei';}
.page li a:hover,.pre:hover,.next:hover,.page li.cur a{background-color:#0F76CE;color:#fff;}
.page li a{color:#282828;display:block;width:auto;height:20px;border:none;}
.page .point{border:none;}
.page .prev,.page .next{width:52px;}
.page .next{margin:0;position:static;background:none;}
/*showbox1*/
.container .show-box1{margin-top:20px;}
.container .show-box1 li{margin-right:40px;_margin-right:35px;}
.container .show-box1 .last{margin-right:0;}
/*news-list*/
.news-list{padding:20px 0;}
.news-list li{height: 155px;overflow: hidden;padding-bottom:20px;position: relative;}
.news-list .card-news-pic-wrapper {float: left;height: 155px;width:220px;overflow: hidden;}
.news-list .card-news-pic-wrapper img{display:block;height: 155px;width:220px;}
.card-news-pic {float: left;height: 141px; width: 194px;}
.card-news-text {line-height: 1.5;padding-left: 240px;}
.news-title {color: #282828;font:bold 20px 'microsoft yahei';margin-bottom: 15px;overflow: hidden;text-overflow: ellipsis; white-space: nowrap;}
.card-news-text p {font: 14px "microsoft yahei"; height: 90px;overflow: hidden;text-overflow: ellipsis;margin:0;color:#727272;}
.card-news-text .sub-tit{height:25px;}
.card-news-text .sub-tit span{width:180px;display:inline-block;}
/*help*/
.help dt{font:bold 20px 'microsoft yahei';padding-bottom:10px;border-bottom:1px solid #CCCCCC;}
.help dd{padding:5px 0 30px 0;font:14px 'microsoft yahei';color:#666666;}

/*artist-data*/
.frame{position:relative;}
.artist_data{height:322px;}
.artist_data .photo{float:left;margin:0 48px 0 10px;border: 1px solid #eee;width:260px;height:278px;background-color:#E5E5E5;}
.artist_data .empty p{text-align:center;font:24px/278px 'microsoft yahei';color:#282828;}
.artist_data .photo-edit{position:relative;}
.artist_data .photo-search{margin:0 50px 0 0;}
.edit img{opacity:1;}
.edit .update{position:absolute;top:139px;left:63px;background:#0F76CE;display:block;width:170px;height:60px;text-align:center;font:bold 20px/38px 'microsoft yahei';color:#fff;border-radius:5px;z-index:10;}
.edit .update i{font:normal 12px 'microsoft yahei';display:block;}
.edit .delete{position:absolute;top:190px;left:85px;z-index:10;display:block;font-size:14px;width:60px;height:14px;border:none;color:#0F76CE;}
.edit .delete:hover{text-decoration:underline;}
.photo a{display:block;}
.photo img{width:280px;height:320px;display:block;}
.detail-data{float:left;width:660px;_width:650px;height:322px;}
.data-head{border-bottom:1px solid #E5E5E5;height:34px;}
.data-head ul li{float:left;position:relative;}
.data-head .name{font:bold 24px 'microsoft yahei';width:315px;}
.data-head .name span,.data-head .total dd{font:normal 14px 'microsoft yahei';color:#666666;}
.data-head .name span i{color:#0F76CE;font-style:normal;}
.data-head .total dl{padding:10px 0 0 0;}
.data-head .total dt,.data-head .total dd{float:left;}
.data-head .total dt{font:bold 14px 'microsoft yahei';}
.data-head .total dd{margin-right:30px;}
.data-head .icon-edit{float:right;padding-top:5px;}
.data-head .icon-edit a{background:#0F76CE;height:23px;width:70px;display:block;border-radius:5px;font:14px/23px 'microsoft yahei';color:#fff;text-align:center;border:none;}
.artist_data .btn-check{display:block;background-color:#0F76CE;text-align:center;font:bold 24px/45px 'microsoft yahei';width:170px;height:45px;color:#fff;border-radius:5px;margin-top:20px;}

.detail{padding-top:10px;}
.week-data{padding-top:15px;}
.detail li{float:left;width:315px;color:#666666;line-height:22px;height:22px;}
.detail .data-name{float:left;}
.detail form{float:left;}
.detail form option{width:40px;}
.detail .error-notice{color:#FF4400;display:block;float:right;margin-right:20px;}
.week-data li dl{background:#E5E5E5;padding:10px;width:146px;border-radius:5px;height:44px;}
.week-data li dt{font-weight:bold;float:left;color:#282828;}
.week-data li dd .icon-fire,.week-data li dd .icon-money{display:inline-block;vertical-align: top}
.week-data .icon-sent,.registration .btn-next a{width:170px;height:45px;display:block;background:#0F76CE;border-radius:5px;text-align:center;font:bold 24px/45px 'microsoft yahei';color:#fff;margin-top:15px;}
.edit .week-data li{width:170px;height:45px;margin:0 10px 0 0;background-color:#F9F9F9;border:none;}
.edit .week-data a{margin:0;border:none;}


/*dynamic*/
.dynamic{height:144px;}
.dynamic .check{font:14px 'microsoft yahei';margin-left:10px;color:#666666;}
.dynamic ul{padding:15px 0;}
.dynamic li{float:left;width:500px;font:14px/24px 'microsoft yahei';color:#666666;}
.dynamic li span{float:right;padding-right:20px;}
.dynamic li .intro{width:395px;padding:0;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;font:14px/24px 'microsoft yahei';float:left;display:inline-block;}

/*post*/
.post li{float:left;width:218px;height:248px;margin:20px 40px 20px 0;border:1px solid #F9F9F9;background-color:#E5E5E5;}
.post li img{width:218px;height:248px;}
.post .last{margin-right:0;}
.post .empty p{text-align:center;font:24px/248px 'microsoft yahei';color:#282828;}
.post-edit h2 form,.skill-show-edit h2 form,.works-edit h2 form{display:inline;font:normal 14px 'microsoft yahei';color:#666666}
.post-edit li{position:relative;}
.post-edit .update,.works-edit .update{border:0;top:99px;left:22px;}

/*skill-show*/
.skill-show ul{padding:20px 0;}
.skill-show li{float:left;margin-right:40px;_margin-right:35px;}
.skill-show .empty p{width:220px;height:155px;text-align:center;font:24px/155px 'microsoft yahei';color:#282828;background-color:#E5E5E5;margin:0;border: 1px solid #eeeeee;}
.skill-show-edit li{position:relative;_margin-right:30px;}
.skill-showe-edit .update{border:0;top:;left:;}
.skill-show-edit .form-edit{width:220px;}
.skill-show-edit .update{top:45px;left:23px;border:0;}
.skill-show-edit .delete{top:115px;}
.skill-show-edit li a:hover img{opacity:0.7;}

/*works*/
.works ul{padding:20px 0;}
.works li{float:left;width:220px;height:250px;margin-right:40px;}
.works li a{display:block;width:220px;height:250px;border:none;}
.works li a img{display:block;width:220px;height:250px;}
.works .last{margin:0;}
.works li span{color:#666666;}
.works-edit li{position:relative;_margin-right:30px;}
.works-edit ul{height:335px;}
.works-edit ul li form input{display:block;width:220px;margin-bottom:5px;}
.edit .button-bottom .week-data{height:auto;position:absolute;top:0;left:32.7%;}
.edit .button-bottom{position:relative;height:45px;}
.edit .button-bottom ul{padding:0;}

/*notice*/
.notice{margin:20px 0;}
.notice p{font:14px 'microsoft yahei';color:#666666;text-align:center;}
.notice a{display:block;width:440px;height:40px;background-color:#0F76CE;color:#fff;font:bold 24px/40px 'microsoft yahei';text-align:center;margin:0 auto;border-radius:5px;}

/*registration*/
.registration h2{font:bold 24px 'microsofty yahei';text-align:center;margin-bottom:25px;color:#000000;}
.registration ul li{float:left;}
.registration ul li .txt{width:155px;height:95px;border-radius:5px;background-color:#0F76CE;color:#fff;font:bold 20px/95px 'microsofty yahei';text-align:center;display:inline-block;}
.registration ul li .arrow{width:32px;height:24px;display:inline-block;background-position:-251px 0;margin:0 12px;}
.registration li a{color:#fff;}
.pay-notice{margin-top:70px;position:relative;}
.pay-notice ul{padding:0 286px;}
.registration .pay-notice li{float:left;height:36px;background-color:#F9F9F9;width:100%;font:normal 16px 'microsoft yahei';text-align:left;}
.pay-notice label{display:inline;font:16px 'microsoft yahei';color:#666666;text-align:right;width:90px;padding-right:10px;float:left;}
.pay-notice input{width:320px;}
.pay-notice select{float:left;}
.registration ul .btn-next{margin:0 auto;height:45px;}
.pay-notice p{text-align:center;color:#666666;font-size:16px;margin-bottom:20px;}
.pay-notice .btn-improve{display:block;text-align:center;width:170px;height:45px;font:bold 24px/45px 'microsoft yahei';color:#fff;background-color:#0F76CE;padding:0 5px;border-radius:5px;margin:0 auto;}

/*content*/
.content{background-color:#fff;width:256px;height:200px;margin:0 auto;padding:100px 172px;}
.content img{width:251px;height:81px;margin:0 auto;display:block;}
.container .content p{font:16px 'microsoft yahei';color:#666666;text-align:center;margin:18px 0;}
.content .btn{background-color:#0F76CE;color:#fff;font:bold 24px/40px 'microsoft yahei';display:block;width:120px;height:40px;text-align:center;margin:0 auto;}

/* footer */
.footer{text-align:center;text-align:center;line-height:22px;padding:53px 0;background-color:#FFD102;}
.footer, .footer a{color:#282828;}
.footer a:hover{text-decoration:underline;}
.f-nav span{margin:0 5px;}

/* pop */
.cover{position:fixed;z-index:999;width:100%;height:100%;top:0;left:0;filter:alpha(opacity=75);opacity:0.75;overflow:hidden;}
*html {background-image:url(about:blank);background-attachment:fixed;} 
*html body {margin:0;height:100%;}
*html .cover{position:absolute;left:expression(documentElement.scrollLeft + documentElement.clientWidth - this.offsetWidth);top:expression(documentElement.scrollTop + documentElement.clientHeight - this.offsetHeight);}
.pop .btn_close{background-image:url(../img_bg/sprite.png);background-repeat:no-repeat;}
.pop{color:#6A6A6A;width:462px;position:fixed;z-index:1000;left:50%;top:33%;margin-left:-231px;margin-top:-220px;_position:absolute;_top:expression(eval(document.documentElement.scrollTop+(document.documentElement.clientHeight-this.offsetHeight)/2)+150);box-shadow:0 5px 15px rgba(29,39,49,.6);}
/* 浮层弹出动画 */
.pop_animated{-webkit-transition:all .5s linear;-moz-transition:all .5s linear;-ms-transition:all .5s linear;-o-transition:all .5s linear;transition:all .5s linear;-webkit-animation:ani_on .5s linear;-moz-animation:ani_on .5s linear;-ms-animation:ani_on .5s linear;-o-animation:ani_on .5s linear;animation:ani_on .5s linear;}
@-webkit-keyframes ani_on{
	0%{opacity:0;-webkit-transform:scale(.5);}
	100%{opacity:1;-webkit-transform:scale(1);}
}
@-moz-keyframes ani_on{
	0%{opacity:0;-moz-transform:scale(.5);}
	100%{opacity:1;-moz-transform:scale(1);}
}
@-ms-keyframes ani_on{
	0%{opacity:0;-ms-transform:scale(.5);}
	100%{opacity:1;-ms-transform:scale(1);}
}
@-o-keyframes ani_on{
	0%{opacity:0;-o-transform:scale(.5);}
	100%{opacity:1;-o-transform:scale(1);}
}
@keyframes ani_on{
	0%{opacity:0;transform:scale(.5);}
	100%{opacity:1;transform:scale(1);}
}


.pop h2{color:#0F76CE; font-size:24px; font-family:\5FAE\8F6F\96C5\9ED1; font-weight:bold; text-align:center;line-height:54px; height:54px; overflow:hidden; position:relative;border:1px solid #F9F9F9;border-bottom:0 none;background-color:#F9F9F9;}
.pop h2 span{color:#FFD300;}
.pop .btn_close{text-indent:-9999px; display:block; width:40px;height:40px; overflow:hidden;position:absolute; right:-16px; top:-19px;background:url(../img_bg/icon-close.png) no-repeat;-webkit-transition:none;-moz-transition:none;-ms-transition:none;-o-transition:none;transition:none;}
.pop .btn_con{text-align:center;padding-top:25px;}
.pop .btn_con button,.pop .btn_con a{font-family:'Microsoft yahei';font-size:20px;display:inline-block;height:40px;border:0 none;width:140px;line-height:40px; color:#FFFFFF; font-weight:bolder; text-align:center; margin:0 8px;
background: #0F76CE; }
.pop .btn_con button{line-height:25px;}
.pop .btn_con button:hover,.pop .btn_con a:hover{color:#F2F2F2}

.pop_inner{padding:15px 22px 20px;border:1px solid #F9F9F9;border-top:0 none;background: #F9F9F9;}
:root .pop_inner,:root .pop .btn_con button,:root .pop .btn_con a{filter:none;}

.pop_inner .picture{margin:0 auto;height:248px;width:218px;}

/*表单*/
.pop .warntxt{background-color:#FFFEE2; font-size:12px; color:#8e713d; line-height:26px; width:234px; padding:0 12px; border:1px solid #E1E0C5; margin:0 0 10px 75px; display:none;}
.pop .pop_fm li{*zoom:1; margin-bottom:6px;}
.pop .pop_fm li:after,.pop .sn:after,.pop_show:after{content:"";display:block;height:0;line-height:0;clear:both;visibility:hidden;}
.pop .pop_fm label,.pop input,.pop .pop_fm img,.pop .pop_fm a{float:left;}
.pop_inner .form{padding:20px 0;width:218px;margin:0 auto;position:relative;}
.pop .pop_radio input{float:none;display:inline-block;}
.pop .pop_fm label{line-height:28px; height:28px; width:70px;color:#6A6A6A;text-align:right;padding-right:5px;}
.pop .pop_fm .intxt{line-height:26px; height:26px; width:238px; padding:0 10px; border:1px solid #A09E99; margin-right:8px;}
.pop .pop_fm a{color:#6A6A6A;font-size:12px; line-height:28px;}
.pop .pop_fm a:hover{text-decoration:underline;}
.pop .pop_fm img{display:block;width:50px;margin-top:3px;margin-right:5px;}
.pop .pop_fm .form_check{padding-left:75px;margin-bottom:0;}
.pop .pop_fm .form_check label{width:auto;}
.pop .pop_fm .form_check input{margin-right:5px;margin-top:8px;}
.pop .pop_fm_adr .warntxt{width:298px;}
.pop .pop_fm_adr .intxt{width:302px;}
.pop .pop_fm_q .warntxt{margin-left:26px;width:338px;}
.pop .pop_fm_q label{width:386px;height:auto;text-align: left;}
.pop .pop_fm_q .q_input{width:14px;height:29px;margin-right:10px;}
/*标记颜色*/
.pop .pop_fm .color,.pop .head strong,.pop .pop_gift strong,.pop .head .color,.pop .color,.pop .sn a,.pop .pop_inner i{color:#633A09;}

.pop .pop_gift li{border-bottom:1px dashed #7f2800;padding:15px 0;line-height:24px;}
.pop .pop_gift li.first{border-top:0 none;}
.pop .pop_gift li.last{border-bottom:0 none;}
.pop .tips_p{font-family: 'Microsoft yahei';font-size: 14px;line-height:20px;padding:20px 0;}
.pop .tips_p a{color:#0F76CE;}
.pop .tips_p a:hover{text-decoration:underline;}

/*choose_pic*/
.choose_pic{height:360px;background-color:#F2F2F5;}
.choose_pic a{overflow:hidden;position:relative;margin:140px 0 10px 160px;padding:0 10px;display:inline-block;text-align:center;white-space: nowrap;border:1px solid #282828;background-color:#fff;border-radius:2px;}
.choose_pic p{text-align:center;}

/*pop reset*/
.pop strong{font-weight: bold;font-size:15px;}
.pop .ft14{font-size:14px;}
.pop .ft16{font-size:16px;}
.pop .ftb{font-weight: bold;}
.pop .lh24{line-height: 24px;}
.pop .indent24{text-indent: 24px;}
.pop .pop_inner i{margin:0 5px;font-style: normal;}
.pop .center{text-align:center;}
.pop .mgt20{margin-top:20px;}
.pop .p1,.pop .p2{margin:0;padding:30px 22px 10px;font:15px/24px 'Microsoft yahei';text-align: center;}
.pop .p2{padding:10px 0;text-align: left;}

.pop .sn{*zoom:1;}
.pop .sn a{text-decoration:underline;float:right;}

.pop .pop_video{background: #000;}

.star3{width:198px;margin:0 auto;padding:5px 10px;}
.star3 span{display:inline-block;float:left;}

.star_bg {
    width: 85px; height: 17px;
    background:url(../img_bg/star.png) repeat-x 0 -17px;
    position: relative;
    overflow: hidden;
}
.star {
    height: 100%; width: 17px;
    line-height: 6em;
    position: absolute;
    z-index: 3;
}
.star:hover {    
    background:url(../img_bg/star.png) repeat-x!important;
    left: 0; z-index: 2;
}
.star_1 { left: 0; }
.star_2 { left: 17px; }
.star_3 { left: 34px; }
.star_4 { left: 51px; }
.star_5 { left: 68px; }
.star_1:hover,.star_1.active { width: 17px; }
.star_2:hover,.star_2.active  { width: 34px; }
.star_3:hover,.star_3.active  { width: 51px; }
.star_4:hover,.star_4.active  { width: 68px; }
.star_5:hover,.star_5.active  { width: 85px; }

label { 
    display: block; _display:inline;
    height: 100%; width: 100%;
    cursor: pointer;
}

/* 幕后的英雄，单选按钮 */
.score { position: absolute; clip: rect(0 0 0 0); }
.score:checked + .star {    
    background: url(../img_bg/star.png) repeat-x;
    left: 0; z-index: 1;
}
.score_1:checked ~ .star_1 { width: 17px; }
.score_2:checked ~ .star_2 { width: 34px; }
.score_3:checked ~ .star_3 { width: 51px; }
.score_4:checked ~ .star_4 { width: 68px; }
.score_5:checked ~ .star_5 { width: 85px; }

.star_bg:hover .star {  background-image: none; }

/* for IE6-IE8 JS 交互 */
.star_checked {    
    background: url(star.png) repeat-x 0 -20px;
    left: 0; z-index: 1;
}

/*
.xzw_starBox{position:relative;float:left;}
.xzw_starBox .star{height:17px;width:85px;position:relative;background:url(../img_bg/star.png) 0 -17px  repeat-x;cursor:pointer}
.xzw_starBox .star li{float:left;padding:0px;margin:0px}
.xzw_starBox .star li a{display:block;width:17px;height:17px;overflow:hidden;text-indent:-9999px;position:absolute;z-index:5}
.xzw_starBox .star li a:hover{background:url(../img_bg/star.png) repeat-x;z-index:3;left:0}
.xzw_starBox .star a.one-star{left:0}
.xzw_starBox .star a.one-star:hover{width:17px}
.xzw_starBox .star a.two-stars{left:17px}
.xzw_starBox .star a.two-stars:hover{width:34px}
.xzw_starBox .star a.three-stars{left:34px}
.xzw_starBox .star a.three-stars:hover{width:51px}
.xzw_starBox .star a.four-stars{left:51px}
.xzw_starBox .star a.four-stars:hover{width:68px}
.xzw_starBox .star a.five-stars{left:68px}
.xzw_starBox .star a.five-stars:hover{width:85px}
.xzw_starBox .current-rating{background:url(../img_bg/star.png) repeat-x;position:absolute;height:17px;z-index:1;top:0;left:0}
*/
.star-show{display:inline;}
.vote-star{
	display:inline-block;/*内联元素转换成块元素，并不换行 weisay.com*/
	margin-right:6px;
	width:85px;/*5个星星的宽度 weisay.com*/
	height:17px;/*1个星星的高度 weisay.com*/
	overflow:hidden;
	vertical-align:middle;
	background:url(../img_bg/star.png) repeat-x 0 -17px;}
.vote-star i{
	display:inline-block;/*内联元素转换成块元素，并不换行 weisay.com*/
	height:17px;/*1个星星的高度 weisay.com*/
	background:url(../img_bg/star.png) repeat-x 0 0;}
.container .vote-star .grade-btn{border:none;height:17px;width:auto;}
.vote-number{vertical-align:middle;}

/*player tips error*/
.error {background:#000 url(http://img.kankan.xunlei.com/img/kankan/mp4/error.png) no-repeat center 120px;padding-top:120px;color:#fff;z-index:999;text-align:center;}
.error p {padding:100px 0 20px;font-size:14px;line-height:24px;}
.errortxt {position:absolute;left:0;top:0;width:100%;height:100%;background:#000;padding-top:200px;color:#fff;z-index:999;text-align:center;}
.errortxt p {padding-bottom:20px;font-size:16px;font-family:"Microsoft YaHei";line-height:24px;}
.errortxt a, .error a {color:#249FF1;text-decoration:underline;}
.errortxt div {padding:20px 0 0 178px;text-align:left;}

.form_flower{position:absolute;top:0;left:0;top:20px;left:135px;}

